* {
    -webkit-touch-callout: default;
}
.markdown-section .chapter-abstract + h2,
.markdown-section .page-toc + h2 {
    margin-top: 0;
}
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
    line-height: 1.3;
    margin-bottom: 0.5em;
}

.markdown-section table {
    width: auto;
    margin-top: 1em;
    margin-bottom: 1.5em;
}
.book-body {
    position: relative;
    overflow: hidden;
    min-height: 100%;
    /*scroll-behavior: smooth;*/
}
.book-body .body-inner {
    position: relative;
}
.book.with-summary .book-body {
    /*scroll-padding-top: 0;*/
    margin-left: 315px;
}
html {
    scroll-padding-top: 75px;
}
.book {
    overflow: visible;
}
/*
.book {
    scroll-padding-top: 75px;
}
*/
.book.with-summary {
    /*scroll-padding-top: 0;*/
}
.book.with-summary .book-body .body-inner {
    margin-top: 0;
}
/* Override gitbook styles */
@media (min-width: 600px) {
    .book.with-summary .book-body {
        left: 0;
    }
}
@media (max-width: 600px) {
    /*
    .book-summary {
        width: 315px;
    }
    */
    .book.with-summary {
        overflow: visible;
    }
    .book.with-summary .book-body {
        transform: none;
    }
    .book.with-summary .body-inner {
        width: calc(100% + 315px);
    }
    .book.with-summary .page-footer {
        width: calc(100% + 315px);
    }
}
@media (max-width: 1240px) {
    .book-body .body-inner {
        position: relative;
    }

}



.book.with-summary .book-header {
    border-right: 1px solid rgb(0,0,0,.07);
}
.book.with-summary.color-theme-2 .book-header {
    border-right: 1px solid #2d3143;
}
.book-summary {
    padding-bottom: 30px;
    width: 315px;
    left: -315px;
    margin-top: 50px;
    position: fixed;
    z-index: 2;
}
.book-summary ul.summary {
    margin-top: 10px;
}
.chapter-summary li.draft {
    opacity: 0.6;
}
/*
.book-summary .btn-close-sidebar {
    width: 50px;
    float: right;
    cursor: pointer;
    margin: -15px;
    padding: 15px;
    text-align: right;
    opacity: 0.5;
}
.btn-toggle-sidebar {
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
    opacity: 0.5;
    font-size: 18px;
    width: 30px;
    z-index: 2;
}
*/
/*
.book.with-summary .btn-open-sidebar {
    display: none;
}
.book.with-summary .book-header h1 {
    display: none;
}
*/
/*
.book-header {
    border-bottom: 1px solid rgb(0,0,0,.07);
}
*/
/*
.book-header h1 {
    display: block;
    position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
    opacity: 1;
    text-align: center;
    padding: 0;
    z-index: 1;
}
*/
.book-header h1 {
    opacity: 1;
    display: inline-block;
    padding: 0;
    padding-left: 15px;
    text-align: left;
}
.book-header a.github-edit-link {
    font-size: 20px;
    position: absolute;
    top: 14px;
    right: 10px;
    color: inherit;
}
.book.with-summary .book-body .book-header {
    position: fixed;
    left: 0;
    width: 315px;
}
.book.with-summary .book-header h1 {
    padding-left: 5px;
}
.book.with-summary .book-header .btn {
    padding: 0 10px;
}
@media (min-width: 800px) {
    /*
    .book-summary { left: 0; }
    .btn-toggle-sidebar { display: none; }
    .book-summary .btn-close-sidebar {
        display: none;
    }
    .book .book-body {
        left: 300px;
    }
    */
    /*
    .book-body {
        scroll-padding-top: 0;
    }
    .book-body .body-inner {
        margin-top: 0;
    }
    */
    /*
    .book-header h1 {
      display: none;
    }
    */
    /*
    .book-header {
        display: none;
    }
    */
}
.book.color-theme-2 .book-summary ul.summary li a,
.book.color-theme-2 .book-summary ul.summary li span {
    font-weight: normal;
}


.color-callout-dark {
    background-color: #eee;
    border-color: #ccc;
}
.color-callout-dark.with-border {
    border: 1px solid #ccc;
}
.color-callout-light {
    background-color: rgb(250, 250, 250);
    border-color: #eee;
    color: #444;
}
.color-callout-light.with-border {
    border: 1px solid #eee;
}

/* Sepia theme */
.book.color-theme-1 .color-callout-dark {
    background-color: rgb(196 187 163);
    color: #111111;
    border-color: #70421480;
}
.book.color-theme-1 .color-callout-light {
    background-color: #ccbaa780;
}
.book.color-theme-1 .color-callout-light.with-border,
.book.color-theme-1 .color-callout-dark.with-border {
    border: 1px solid #70421480;
}
/* Midnight theme */
.book.color-theme-2 .color-callout-dark {
    background-color: #2d3143;
    border-color: #666;
    color: #bdcadb;
}
.book.color-theme-2 .color-callout-light {
    /*background-color: #717585;*/
    background-color: #e0e2ea;
    border-color: #666;
    color: #333;
}
.book.color-theme-2 .color-callout-light.with-border,
.book.color-theme-2 .color-callout-dark.with-border {
    border: 1px solid #666;
}


.book.color-theme-1 .markdown-section a {
    text-decoration: underline;
    text-decoration-style: solid;
}
.book.color-theme-1 .markdown-section a:hover {
    text-decoration: underline;
    text-decoration-style: double;
}

/*
@media (max-width: 1000px) {
  .book-header h1 {
    display: block;
  }
}
*/
.book-body .body-inner {
    bottom: auto;
}
.book-body .body-inner .page-wrapper .page-inner {
    padding-top: 10px;
    padding-bottom: 150px;
}
/*
.sidebar-top {
    background-color: white;
    position: fixed;
    width: 300px;
    padding: 15px;
    border-bottom: 1px solid rgb(0,0,0,.07);
    border-right: 1px solid rgb(0,0,0,.07);
    z-index: 2;
    font-weight: bold;
    font-size: 16px;
    top: 0px;
    height: 50px;
}
.color-theme-1 .sidebar-top {
    background-color: #111111;
}
.color-theme-2 .sidebar-top {
    background-color: #2d3143;
}
.sidebar-top a {
    color: inherit;
}
*/
/*
@media (max-width: 600px) {
    .sidebar-top {
        width: calc(100% - 60px);
    }
}
*/

.header-chapter-num .part-label {
    text-transform: uppercase;
    opacity: 0.7;
}
.header-chapter-num + h1 {
    margin-top: 5px;
}

.chapter-abstract {
    background-color: #eee;
    padding: 10px;
    font-style: italic;
    margin-bottom: 20px;
}

.chapter-pager {
    margin-top: 24px;
}
.chapter-pager a {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
    width: 100%;
    color: inherit;
    height: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
.chapter-pager a.chapter-next {
    float: right;
    margin-bottom: 10px;
}
.chapter-pager a.chapter-prev {
}
.chapter-pager a:hover {
    color: #4183c4;
    border-color: #4183c4;
}
.book.color-theme-1 .chapter-pager a {
    border-color: #70421480;
}

.book.color-theme-1 .chapter-pager a:hover {
    border-color: #000;
    color: #000;
}
.chapter-pager .fa {
    opacity: 0.5;
    /*font-size: 24px;*/
    margin-top: 10px;
}
.chapter-pager .chapter-prev .pager-arrow {
    float: left;
    margin-right: 10px;
}
.chapter-pager .pager-labels {
    font-size: 16px;
    position: absolute;
}
.chapter-pager .chapter-prev .pager-labels {
    right: 15px;
    text-align: right;
}
.chapter-pager .pager-labels .part {
    font-size: 12px;
    color: #999;
    margin-bottom: 5px;
}
.book.color-theme-1 .chapter-pager .pager-labels .part {
    color: #70421480;
}
.chapter-pager .pager-labels .chapter-label {
    padding-top: 3px;
}

.chapter-pager .chapter-next .pager-arrow {
    float: right;
    margin-left: 10px;
}
@media (min-width: 800px) {
    .chapter-pager a {
        width: 48%;
    }
    .chapter-pager a.pager-unique {
        width: 100%;
    }
}

h1 + .page-subtitle {
    margin-top: -10px;
    margin-bottom: 30px;
    font-size: 16px;
    font-style: italic;
}

.page-footer {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #eee;
}
.page-footer .bottom-nav {
    padding-bottom: 2em;
}
.page-footer a {
    color: inherit;
    opacity: 1;
}
.page-footer a:hover {
    text-decoration: underline;
}
.book.color-theme-1 .page-footer {
    border-color: #70421480;
    background-color: #111;
}
.book.color-theme-2 .page-footer {
    background-color: #2d3143;
}

.back-to-top {
    z-index: 1;
}

ul.toc-chapters-full {
    list-style: none;
    padding-left: 0px;
}
ul.toc-chapters-full.show-drafts {
    padding-left: 20px;
}
.toc-chapters-full ul {
    list-style: none;
    padding-left: 20px;
}
.toc-chapters-full a {
    display: inline-block;
}
.color-theme-1 .markdown-section .toc-chapters-full a {
    font-weight: normal;
}
.toc-chapters-full a:hover {
    text-decoration: none;
}
.toc-chapters-full a:hover .chapter-label {
    text-decoration: underline;
}
.toc-chapters-full li.part {
    margin-top: 10px;
    margin-bottom: 5px;
}
.toc-chapters-full .part-label {
    text-transform: uppercase;
    margin-bottom: 5px;
}
.toc-chapters-full.show-drafts .part-label {
    margin-left: -20px;
}
.toc-chapters-full li.chapter {
    margin-bottom: 10px;
    line-height: 1.5;
    position: relative;
}
.book .toc-chapters-full li.chapter a,
.book .toc-chapters-full li.chapter a:hover {
    text-decoration: none;
}
.toc-chapters-full.show-drafts li.chapter::before {
    content: "\f046";
    font: normal normal normal 14px/1 FontAwesome;
    opacity: 0.7;
    position: absolute;
    left: -20px;
    top: 5px;
}
.toc-chapters-full.show-drafts li.chapter.draft::before {
    content: "\f096";
}
.toc-chapters-full.show-drafts ul li.chapter::before {
    left: -40px;
}
.toc-chapters-full .chapter-num {
    opacity: 0.5;
}
.toc-chapters-full .abstract {
    color: #333;
    font-style: italic;
}
.color-theme-1 .toc-chapters-full .abstract {
    color: inherit;
}
.color-theme-2 .toc-chapters-full .abstract {
    color: #bdcadb;
}
figure {
    margin-right: 10px;
    margin-bottom: 10px;
}
figure {
    border: 1px solid #ccc;
    border-radius: 6px;
}
figure figcaption {
    border-top: 1px solid #ccc;
    padding: 5px;
    line-height: 1.3;
    font-style: italic;
    background-color: #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
figure.row {
    display: inline-block;
    vertical-align: top;
}
/*
figure.row.of-3 {
  width: calc(33% - 20px);
}
figure.row.of-4 {
  width: calc(25% - 20px);
}
*/
.references p,
.hanging-indent p {
    padding-left: 30px ;
    text-indent: -30px ;
}
table.inspect-chapter-iterate-vars {
    display: flex;
}
table.inspect-chapter-iterate-vars th { text-align: right; }

table.inspect-chapter-iterate-vars th.divider { 
    text-align: center; 
    text-transform: uppercase;
}
